<form class="converse-form add-chatroom" action="" method="post">
	<fieldset>
		<div class="form-group">
			<label>{{label_room_name}}</label>
			<input type="text" name="chatroom" class="form-control new-chatroom-name" placeholder="{{label_room_name}}">
		</div>
		<div class="form-group">
			<label>{{label_nickname}}</label>
			<input type="text" name="nick" class="form-control new-chatroom-nick" placeholder="{{label_nickname}}">
		</div>
		<button type="submit" class="btn btn-primary" name="join">{{label_join}}</button>
	</fieldset>
	<fieldset>
		<div class="form-group">
		{[ if (server_input_type != 'hidden') { ]}
			<label{{server_label_global_attr}}>{{label_server}}</label>
		{[ } ]}
			<input type="{{server_input_type}}" name="server" class="form-control new-chatroom-server" placeholder="{{label_server}}">
		</div>
		<input type="button" class="btn btn-secondary" name="show" id="show-rooms" value="{{label_show_rooms}}">
	</fieldset>
</form>
<dl id="available-chatrooms"></dl>
